In [44]:
import pandas as pd
from uszipcode import SearchEngine

In [45]:
search = SearchEngine()

In [46]:
df = pd.read_csv('clean_business.csv')
df.shape

(7122, 14)

In [47]:
df.head()

,attributes,business_id,categories,city,is_open_2017,latitude,longitude,name,postal_code,review_count,stars,state,is_open_2018,isBankrupt
0,"{'RestaurantsTableService': False, 'GoodForMea...",rDMptJYWtnMhpQu_rRXHng,"['Fast Food', 'Burgers', 'Restaurants']",Phoenix,1,33.607070,-112.064382,McDonald's,85022.0,10,1.0,AZ,1,0
1,"{'RestaurantsTableService': True, 'GoodForMeal...",1WBkAuQg81kokZIPMpn9Zg,"['Burgers', 'Restaurants']",Phoenix,1,33.607310,-112.063404,Charr An American Burger Bar,85022.0,232,3.0,AZ,1,0
2,"{'RestaurantsTableService': False, 'GoodForMea...",iPa__LOhse-hobC2Xmp-Kw,"['Restaurants', 'Burgers', 'Fast Food']",Phoenix,1,33.508765,-112.046240,McDonald's,85016.0,34,3.0,AZ,1,0
3,"{'BusinessAcceptsCreditCards': True, 'Business...",YhV93k9uiMdr3FlV4FHjwA,"['Marketing', ""Men's Clothing"", 'Restaurants',...",Phoenix,1,33.449967,-112.070222,Caviness Studio,85001.0,4,5.0,AZ,1,0
4,"{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",VdlPZg2NAu8t8GkdbPLecg,"['Restaurants', 'Gluten-Free', 'Indian', 'Seaf...",Scottsdale,1,33.555212,-111.900456,Tandoori Times Indian Bistro,85258.0,263,3.5,AZ,1,0

In [48]:
df['postal_code'] = df['postal_code'].astype(int)

In [49]:
df['city_'] = df['postal_code'].apply(lambda x: search.by_zipcode(str(x)).major_city)
df['county'] = df['postal_code'].apply(lambda x: search.by_zipcode(str(x)).county)

In [50]:
df['city_'].isna().sum()

4

In [51]:
df['county'].isna().sum()

4

In [52]:
df = df.dropna()
df.shape

(7118, 16)

In [53]:
df['city_'].isna().sum()

0

In [54]:
df['county'].isna().sum()

0

In [56]:
df['city_'].unique()

array(['Phoenix', 'Scottsdale', 'Mesa', 'Laveen', 'Chandler', 'Glendale',
       'Avondale', 'Sun City', 'Peoria', 'Litchfield Park', 'El Mirage',
       'Gilbert', 'Tempe', 'Goodyear', 'Surprise', 'Cave Creek',
       'Paradise Valley', 'Higley', 'Sun City West', 'Fountain Hills',
       'Tolleson', 'Carefree', 'Youngtown', 'Fort Mcdowell', 'Waddell',
       'Tucson'], dtype=object)

In [59]:
df['county'].value_counts()

Maricopa County    7117
Pima County           1
Name: county, dtype: int64